name: Training Unit and Integration Tests for my_mlops_project
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'my_mlops_project/**'
      - '.github/workflows/my_mlops_project-run-tests.yml'

defaults:
  run:
    working-directory: ./my_mlops_project/

env:
  DATABRICKS_HOST: https://adb-7405610671248204.4.azuredatabricks.net
  DATABRICKS_AUTH_TYPE: github-oidc
  DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_SP_CLIENT_ID }}
  

concurrency: my_mlops_project-training-integration-test-staging

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r ../test-requirements.txt
      - name: Run tests with pytest
        run: |
            pytest

  integration_test:
    needs: unit_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: databricks/setup-cli@v0.236.0
      - name: Validate Bundle For Test Deployment Target in Staging Workspace
        id: validate
        run: |
          databricks bundle validate -t dev
      - name: Deploy Bundle to Test Deployment Target in Staging Workspace
        id: deploy
        run: |
          databricks bundle deploy -t dev
      - name: Run Training Workflow for Test Deployment Target in Staging Workspace
        id: training
        run: |
          databricks bundle run model_training_job -t dev
